@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: yellow;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.user {
    color: grey;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
}

.name {
    color: blue;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 600;
}

.skill {
    color: grey;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: bold;
}

.skills {
    color: blue;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
}

.email {
    color: grey;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
}

.mail {
    color: blue;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
}

.mobile {
    color: grey;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: bold;
}

.mob {
    color: blue;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
}